body{
  margin: 0;
}

nav{
  height: 100px;
  background-color: #6F76D0;
}

h1{
  margin: 10px;
}

h2.title{
  text-align: center;
  margin: 10px;
}

p{
  margin: 15px;
}

footer{
  height: 50px;
  background-color: #6F76D0;
  color: yellow;
}
