$idolyprideNagaseMana: #F44EB4;
$idolyprideNagaseKotono: #5985DC;
$idolyprideIbukiNagisa: #F96CA0;
$idolyprideShiraishiSaki: #64D0B9;
$idolyprideNarumiyaSuzu: #F2F046;
$idolyprideHayasakaMei: #E13B4F;
$idolyprideKawasakiSakura: #FA9A36;
$idolyprideHyodoShizuku: #99CB9A;
$idolyprideShiraishiChisa: #E7BAD1;
$idolyprideIchinoseRei: #A9E1F0;
$idolyprideSaekiHaruko: #C1A7E4;
$idolyprideTendoRui: #FDFAF1;
$idolyprideSuzumuraYu: #ABD069;
$idolyprideOkuyamaSumire: #FFE590;
$idolyprideKanzakiRio: #B14F88;
$idolyprideIgawaAoi: #6F76D0;
$idolyprideKomiyamaAi: #7ACDEF;
$idolyprideAkazakiKokoro: #FD9bb4;
$idolyprideThreeX: #F2F200;


body{
  margin: 0;
}

nav{
  .headerNavigation{
    height: 75px;
    width: 100%;
    background-color: $idolyprideIgawaAoi;
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    .navItem{
      margin-left: 10px;
      color: white;
      line-height: 75px;
    }
  }
}

.heading{
  margin: 10px;

  .text{
    margin: 10px;
  }
}

.main{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;

  img{
    max-width: 100%;
    height: auto;
  }

  .title{
    text-align: center;
  }

  .text{
    margin: 10px;
  }

  .right{
    text-align: right;
  }
}

footer{
  height: 30px;
  background-color: $idolyprideIgawaAoi;
  color: yellow;
  text-align: center;
  display: flex;
	justify-content: center;
  align-items: center;
}
