<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ほしのなか政府</title>
  <link rel="stylesheet" href="{% static 'css/accounts/index.css' %}">
</head>
<body>
  <header>
    <nav>
      ほしのなか
    </nav>
  </header>

  <h1>ほしのなか政府 トップページ</h1>
  ほしのなか政府のWebサイトへようこそ
  <h2 class="title">最新記事</h2>
  情報は準備中です。
  <h2 class="title">局一覧</h2>
  情報は準備中です。
  <h2 class="title">全民議会</h2>

  <footer>
    ほしのなか 🄫 2023 Hoshinonaka/Snak
  </footer>
</body>
</html>